nav{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 60px;
    margin: -9px 0 0 -9px;
    position: sticky;
    z-index: 1;
    
}
.nav-lista{
    display: flex;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: row;
    justify-content: flex-end;
    width: 45vw;
    list-style-type: none;
}
.banner{
    width: 100px;
    padding: 20px;
}

.nav-lista li a{
    padding-left: 50px;
    color: #0d680a;
    text-decoration: none;
    padding-bottom: 2px;
}

body{
    background-color: rgba(1, 2, 1, 0.849);
    color: rgb(219, 238, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    
    font-weight: bold;
    text-align: center;
}
h2{
    
    color: rgb(1, 115, 1);
}
.i-inicio {
    margin:auto;
    display: block;
}

.centered {
    width: 500px;
    height: 880px;
    /* border: 4px solid green; */
    text-align: center;
    margin:auto;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 6px 6px;
    grid-template-areas: 
    "quote1 quote2"
    "quote3 .";
}
.quote1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
            "ldagger"
            "image-dagger";            
    grid-area: quote1;
}
.ldagger{
    grid-area: ldagger;
}
.image-dagger {
    grid-area: image-dagger;
}
.quote2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "ghelp"
        "image-gh";
    grid-area: quote2;
}
.ghelp{
    grid-area: ghelp;
}
.image-gh {
    grid-area: image-gh;
}
.quote3{
    display: grid;
        grid-template-columns: 1fr;
            grid-template-rows: 0.1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "surprise"
            "image-s ";
    grid-area: quote3;
}
.surprise{
    grid-area: surprise;
}
.image-s{
    grid-area: image-s;
}
h3{
    color: #2f952c;
    text-align: center;
}
.loki-verde{
    margin: auto;
    display: block;
    width: 200px;
    height: 350px;
}
p{
text-align: center;
}
table{
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}
th,td{
    border: 1px solid rgb(123, 111, 2);
    padding: 8px;
    text-align: center;
}
th{
    background-color: #0f7c053b;
}
.contenedor-lista{
    display: flex;
    justify-content: center;
}
.lista-poderes{
    list-style-type: none;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.lista-poderes li{
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
}
.lista-poderes li .contenido-li {
    background-color: rgb(14, 79, 17);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}
.lista-poderes li sub{
    display: block;
    font-size: 14px;
    margin-top: 5px;
    
}
.lista-poderes li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 5px;
}
.lista-poderes li:hover{
    background-color: rgba(64, 175, 70, 0.521);
    color: black;
}
.lista-poderes li:first-child{
    margin-top: 5px;
}
.lista-poderes li:last-child{
    margin-bottom: 0;
}
.variants-galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-t{
    margin-bottom: 10px;
}
.contenedor-f{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
figure{
    margin: 10px;
    text-align: center;
    flex: 0 0 300px;
}
img{
    width: 100%;
    height: auto;
}
figcaption{
    margin-top: 5px;
    font-size: 18px;
    color:#efb810;
}

